/* TopBar.css */

.nav-section {
    display: flex;
    align-items: center;
}

.nav-section.right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.topnav-logo {
    margin-right: 20px;
    margin-top: 8px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    margin-right: 20px;
    padding: 0 10px;
}

.search .MuiInputBase-root {
    color: inherit;
}

.search .MuiInputBase-input {
    padding: 8px;
    width: 100%;
}